@font-face {
  font-family: 'MyFont';
  src: url(./myFont.ttf) format(opentype);
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./Avatar.jpg');
  font-family: 'MyFont';
}